.main__section {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  text-align: center;

  background-image: url(/images/first-section.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



.title {
  padding-top: 36px;
  color: whitesmoke;
}

.our-number{
  color: whitesmoke;
  padding-bottom: 12px;
}
.title__description {
  color: whitesmoke;
  padding-bottom: 24px;
}

.form__wrapper {
  display: flex;
  justify-items: center;
}

.from__input-name {
  border-style: none;
  border-radius: 12px;
  padding: 0 20px 20px 0;
  margin-bottom: 12px;
}

.from__input-phone {
  border-style: none;
  border-radius: 12px;
  padding: 0 20px 20px 0;
  margin-bottom: 12px;
}

.form__button {
  border-style: none;
  border-radius: 50px;
  padding: 20px 40px 20px 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 42px;
}
